<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" 
                        [ngClass]="{ 'is-invalid': isSubmitted && loginForm.controls.username.errors }" 
                        class="form-control" />
                    <div *ngIf="isSubmitted && loginForm.controls.username.errors" class="invalid-feedback">
                        <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" autocomplete="on"
                        [ngClass]="{ 'is-invalid': isSubmitted && loginForm.controls.password.errors }" 
                        class="form-control"/>
                    <div *ngIf="isSubmitted && loginForm.controls.password.errors" class="invalid-feedback">
                        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="/sign-up" class="btn btn-link">Sign up for an account</a>
                </div>
            </div>
        </div>
    </div>
    
</form>
