<nav class="navbar navbar-dark bg-dark" *ngIf="user">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" (click)="logout()" href="#">Logout</a>
      </ul>
    </div>
  </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>