
    <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">
        <div class="sign-up-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" 
                            [ngClass]="{ 'is-invalid': isSubmitted && signUpForm.controls.username.errors }" />
                        <div *ngIf="isSubmitted && signUpForm.controls.username.errors" class="invalid-feedback">
                            <div *ngIf="signUpForm.controls.username.errors.required">Username is required</div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" autocomplete="on"
                            [ngClass]="{ 'is-invalid': isSubmitted && signUpForm.controls.password.errors }" />
                        <div *ngIf="isSubmitted && signUpForm.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="signUpForm.controls.password.errors.required">Password is required</div>
                            <div *ngIf="signUpForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <!-- Todo: add confirm password -->
                <div class="col-md-12">
                    <div class="form-group">
                        <button [disabled]="isLoading" class="btn btn-primary">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                            Sign Up
                        </button>
                        <a routerLink="/login" class="btn btn-link">Already have an account? Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
